<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @departamento1.nome %>
</p>

<%= link_to 'Edit', edit_departamento1_path(@departamento1) %> |
<%= link_to 'Back', departamento1s_path %>
